<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1, maximum-scale=1">
        <meta name="keywords" content="若离, Golang初学者">
        <meta name="description" content="Golang初学者">
        <link rel="stylesheet" href="/static/css/index.min.css">
        <title>{{ .Title }}</title>
        {{ .HtmlHead }}
    </head>
    <body>
        <article class="container">
            <ul class="menu">
                <li class="menu-item"><a href="/archive">归档</a></li>
                <li class="menu-item"><a href="/category">分类</a></li>
                <li class="menu-item"><a href="/">首页</a></li>
            </ul>
            {{ .LayoutContent }}
        </article>
        {{ .Footer }}
        <script src="/static/js/jquery-1.11.2.min.js"></script>
        {{ .Script }}
    </body>
</html>