<form id="articlecreateform" method="post" action="/manager/article/create">
    <table border="0" cellpadding="0" cellspacing="0" class="form">
        <tr>
            <th>标题</th>
            <td>
                <input type="text" id="title" name="title" class="form-group-sm form-control" maxlength="64" placeholder="请输入文章标题" />
            </td>
        </tr>
        <tr>
            <th>分类</th>
            <td>
                <select name="category">
                    {{ range .Categories }}
                    <option value="{{ .Name }}">{{ .Name }}</option>
                    {{ end }}
                </select>
            </td>
        </tr>
        <tr>
            <th>内容</th>
            <td width="95%">
                <div id="article-editormd">
                    <textarea style="display:none;" id="content" name="content"></textarea>
                </div>
            </td>
        </tr>
        <tr>
            <th>完成</th>
            <td>
                <input type="submit" value="发布" id="save" class="input-item-submit btn btn-default btn-xs" />
                <input type="button" value="返回" id="back" class="input-item-button btn btn-default btn-xs" onClick="history.back()" />
                <span id="formtip"></span>
            </td>
        </tr>
    </table>
</form>
