<link rel="stylesheet" type="text/css" href="/static/css/jquery.Jcrop.min.css">
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.Jcrop.min.js"></script>
<script type="text/javascript">
$(function() {
    var imageCrop = $('.image-upload');
    $('.bs-docs-sidenav').children('li').eq(0).addClass('active');
    var state = 1;
    if ( state == 1 ) {
        $('.menu-article-all').addClass('active-min');
    } else if ( state == 0 ) {
        $('.menu-article-trash').addClass('active-min');
    }
    //删除文章
    var deleteFunction = function(id){
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/manager/article/delete',
            data: { id : id },
            success: function(response) {
                var d = dialog({
                    title: '提示 ： ',
                    content: response.info
                });
                d.showModal();
                setTimeout(function () {
                    d.close().remove();
                }, 2000);
                if ( response.code == 'success' ) {
                    setTimeout(function() {
                        window.location.reload();
                    }, 2200);
                }
            }
        });
    }
    $('.delete').on('click', function(){
        var id = $(this).attr('data-id');
        var d = dialog({
            title: '提示：',
            content: '真的要删除这篇文章吗！',
            okValue: '确定',
            ok: function () {
                deleteFunction(id);
            },
            cancelValue: '取消',
            cancel: function () {}
        });
        d.showModal();
    });
    //调整图像大小
    var resizeimage = function(filename, id)
    {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/manager/article/resizeimage',
            data: {filename : filename, id : id},
            success: function(response){
                var d = dialog({
                    title: '提示 ： ',
                    content: response.info
                });
                d.showModal();
                setTimeout(function () {
                    d.close().remove();
                }, 2000);
                if ( response.code == 'success' ) {
                    $('#article-image-'+id).attr('src',response.data.image+'?'+Math.random());
                    document.getElementById('titleform').reset();
                }
            }
        });
    }
    //裁剪完成提交
    imageCrop.on('click', '.btn-primary', function(){
        var id = imageCrop.data('id');
        $('#titlecropform').ajaxSubmit({
            type: 'POST',
            dataType: 'json',
            beforeSubmit: function(){
            },
            success: function(response){
                $('#croptips').css('color', 'red').html(response.info);
                if ( response.code == 'success' ) {
                    $('#croptips').html('');
                    imageCrop.modal('hide');
                    resizeimage(response.data.file_name, id);
                }
            }
        });
    });
    //弹出裁剪框
    var cropImage = function(response, id)
    {
        imageCrop.find('.modal-dialog').css('width', response.data.width + 30);
        var img     = $('<img id="element_id" src="' + response.data.file_path + '" />');
        var file    = $('<input type="hidden" name="file" value="' + response.data.file_name + '">');
        var x       = $('<input type="hidden" id="x" name="x" />');
        var y       = $('<input type="hidden" id="w" name="w" />');
        var w       = $('<input type="hidden" id="y" name="y" />');
        var h       = $('<input type="hidden" id="h" name="h" />');
        imageCrop.find('form').html(img.add(file).add(x).add(y).add(w).add(h));
        imageCrop.modal({backdrop: 'static'}).on('shown.bs.modal', function(){
            $('#element_id').Jcrop({
                aspectRatio: 4/3,
                minSize: [48,36],
                keySupport:false,
                onSelect: function(c){
                            $('#x').val(c.x);
                            $('#y').val(c.y);
                            $('#w').val(c.w);
                            $('#h').val(c.h);
                        }
            });
        });
        imageCrop.data('id', id);
    }
    //上传文件
    $('.attachfile').on('change', function(){
        id = $(this).attr('data-id');
        $('#titleform').ajaxSubmit({
            dataType: 'json',
            type: 'POST',
            url: '/upload/image',
            beforeSubmit: function(){},
            success: function(response){
                if ( response.code == 'success' ) {
                    cropImage(response, id);
                } else {
                    var d = dialog({
                        title: '提示 ： ',
                        content: response.info
                    });
                    d.showModal();
                    setTimeout(function () {
                        d.close().remove();
                    }, 2000);
                }
            }
        });
    });
    //从回收站恢复
    var returnTrash = function(id){
        $.ajax({
            url: '/manager/article/returnFromTrash',
            type: 'POST',
            dataType: 'json',
            data: { id : id },
            success: function(response){
                var d = dialog({
                    title: '提示 ： ',
                    content: response.info
                });
                d.showModal();
                setTimeout(function () {
                    d.close().remove();
                }, 2000);
                if ( response.code == 'success' ) {
                    setTimeout(function(){
                        window.location = "/manager/article/trash";
                    },2200);
                }
            }
        });
    }
    //
    $('.return').on('click', function(){
        var id = $(this).attr('data-id');
        var d = dialog({
            title: '提示：',
            content: '恢复前请检查文章信息是否完整，恢复后文章将直接发布到互联网，确定要操作吗？',
            okValue: '确定',
            ok: function () {
                returnTrash(id);
            },
            cancelValue: '取消',
            cancel: function () {}
        });
        d.showModal();
    });

    var removeTrash = function(id){
        $.ajax({
            url: '/manager/article/removeToTrash',
            type: 'POST',
            dataType: 'json',
            data: { id : id },
            success: function(response){
                var d = dialog({
                    title: '提示 ： ',
                    content: response.info
                });
                d.showModal();
                setTimeout(function () {
                    d.close().remove();
                }, 2000);
                if ( response.code == 'success' ) {
                    setTimeout(function(){
                        window.location = "/manager/article";
                    },2200);
                }
            }
        });
    }
    $('.trash').on('click', function(){
        var id = $(this).attr('data-id');
        var d = dialog({
            title: '提示：',
            content: '在回收站的文章不会在网站显示！确定将这篇文章放到回收站吗？',
            okValue: '确定',
            ok: function () {
                removeTrash(id);
            },
            cancelValue: '取消',
            cancel: function () {}
        });
        d.showModal();
    });
});
</script>