<link rel="stylesheet" href="/static/css/editormd.min.css" />
<script type="text/javascript" src="/static/js//editormd.min.js"></script>
<script type="text/javascript">
var articleEditor;
$(function() {
    $('.bs-docs-sidenav').children('li').eq(0).addClass('active');
    $('.menu-article-create').addClass('active-min');
    articleEditor = editormd("article-editormd", {
        width: "100%",
        height: 600,
        path: "/static/js/lib/",
        toolbarIcons: function() {
            return ["undo", "redo", "|",
                "bold", "del", "italic", "|",
                "quote", "ucwords", "uppercase", "lowercase", "|",
                "h1", "h2", "h3", "h4", "h5", "h6", "|",
                "list-ul", "list-ol", "hr", "|",
                "link", "reference-link", "image", "code", "preformatted-text",
                "code-block", "table", "datetime", "||",
                "watch", "fullscreen", "preview", "help"
            ]
        },
        dialogDraggable: false,
        imageUpload: true,
        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL: "/upload",
    });
});
</script>
