<link rel="stylesheet" type="text/css" href="/static/css/jquery.Jcrop.min.css">
<script type="text/javascript">
$(function() {
    var imageCrop = $('.image-upload');
    $('.bs-docs-sidenav').children('li').eq(0).addClass('active');
    $('.menu-article-all').addClass('active-min');
    //删除文章
    var deleteFunction = function(id) {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/manager/article/del',
            data: {
                id: id
            },
            success: function(response) {
                var d = dialog({
                    title: '提示 ： ',
                    content: response.info
                });
                d.showModal();
                setTimeout(function() {
                    d.close().remove();
                }, 2000);
                if (response.code == 'success') {
                    setTimeout(function() {
                        window.location.reload();
                    }, 2200);
                }
            }
        });
    }
    $('.delete').on('click', function() {
        var id = $(this).data("id")
        console.log(id);
        var d = dialog({
            title: '提示：',
            content: '真的要删除这篇文章吗！',
            okValue: '确定',
            ok: function() {
                deleteFunction(id);
            },
            cancelValue: '取消',
            cancel: function() {}
        });
        d.showModal();
    });
    //从回收站恢复
    var returnTrash = function(id) {
            $.ajax({
                url: '/manager/article/return',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: id
                },
                success: function(response) {
                    var d = dialog({
                        title: '提示 ： ',
                        content: response.info
                    });
                    d.showModal();
                    setTimeout(function() {
                        d.close().remove();
                    }, 2000);
                    if (response.code == 'success') {
                        setTimeout(function() {
                            window.location = "/manager/article/trash";
                        }, 2200);
                    }
                }
            });
        }
        //
    $('.return').on('click', function() {
        var id = $(this).attr('data-id');
        var d = dialog({
            title: '提示：',
            content: '恢复前请检查文章信息是否完整，恢复后文章将直接发布到互联网，确定要操作吗？',
            okValue: '确定',
            ok: function() {
                returnTrash(id);
            },
            cancelValue: '取消',
            cancel: function() {}
        });
        d.showModal();
    });

    var removeTrash = function(id) {
        $.ajax({
            url: '/manager/article/remove',
            type: 'POST',
            dataType: 'json',
            data: {
                id: id
            },
            success: function(response) {
                var d = dialog({
                    title: '提示 ： ',
                    content: response.info
                });
                d.showModal();
                setTimeout(function() {
                    d.close().remove();
                }, 2000);
                if (response.code == 'success') {
                    setTimeout(function() {
                        window.location = "/manager/article";
                    }, 2200);
                }
            }
        });
    }
    $('.trash').on('click', function() {
        var id = $(this).attr('data-id');
        var d = dialog({
            title: '提示：',
            content: '在回收站的文章不会在网站显示！确定将这篇文章放到回收站吗？',
            okValue: '确定',
            ok: function() {
                removeTrash(id);
            },
            cancelValue: '取消',
            cancel: function() {}
        });
        d.showModal();
    });
});
</script>