<table border="0" cellpadding="0" cellspacing="0" class="list table table-striped">
    <tr>
        <th width="5%">ID</th>
        <th width="20%">分类名称</th>
        <th width="45%">描述</th>
        <th width="20%">文章数量</th>
        <th width="10%">操作</th>
    </tr>
    {{ if .Categories }} {{ range .Categories }}
    <tr>
        <td valign="top">{{ .Id }}</td>
        <td>
            <p class="title">{{ .Name }}</p>
        </td>
        <td>
            <p class="title">{{ .Description }}</p>
        </td>
        <td>
            <p class="title">{{ .Count }}</p>
        </td>
        <td class="category-btn">
            <a href="/manager/category/edit/{{ .Id }}" class="update glyphicon glyphicon-pencil"></a>
            &nbsp;&nbsp;
            <a href="javascript:;" data-id="{{ .Id }}" class="delete glyphicon glyphicon-remove"></a>
        </td>
    </tr>
    {{ end }} {{ else }}
    <tr>
        <td colspan="4" class="null">
            还没有分类，赶快去
            <a href="/manager/category/create">添加分类</a> 吧！
        </td>
    </tr>
    {{ end }}
</table>
<div style="text-align:center">
    <div cla></div>
    {{if .paginator.HasPages}}
    <ul class="pagination pagination">
        {{if .paginator.HasPrev}}
        <li>
            <a href="{{.paginator.PageLinkFirst}}">{{ .paginator.first_page }}</a>
        </li>
        <li>
            <a href="{{.paginator.PageLinkPrev}}">&laquo;</a>
        </li>
        {{else}}
        <li class="disabled">
            <a>{{ .paginator.first_page }}</a>
        </li>
        <li class="disabled">
            <a>&laquo;</a>
        </li>
        {{end}} {{range $index, $page := .paginator.Pages}}
        <li{{if $.paginator.IsActive .}} class="active" {{end}}>
            <a href="{{$.paginator.PageLink $page}}">{{$page}}</a>
            </li>
            {{end}} {{if .paginator.HasNext}}
            <li>
                <a href="{{.paginator.PageLinkNext}}">&raquo;</a>
            </li>
            <li>
                <a href="{{.paginator.PageLinkLast}}">{{ .paginator.last_page }}</a>
            </li>
            {{else}}
            <li class="disabled">
                <a>&raquo;</a>
            </li>
            <li class="disabled">
                <a>{{ .paginator.last_page }}</a>
            </li>
            {{end}}
    </ul>
    {{end}}
</div>
