<div class="panel panel-default">
    <div class="panel-heading">站点概况</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
    </ul>
    <div class="panel-heading">站点环境</div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
        <li class="list-group-item">
            <a href="/manager/article">文章</a> ： 篇
        </li>
    </ul>
</div>