<!DOCTYPE HTML>
<html>
<head>
    <title>{{ .Title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/funx.ico">
    <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/ui-dialog.css" rel="stylesheet" />
    <link type="text/css" href="/static/css/admin_base.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/dialog-min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/admincp.js"></script>
    {{ .HtmlHead }}
</head>
<body>
    <div class="fx-header">
        <a class="col-sm-9 fx-logo" href="/manager"></a>
        <ul class="fx-header-list col-sm-3">
            <li class="curr">
                <a href="/manager">管理面板</a>
            </li>
            <li>
                <a href="/manager/logout">退出面板</a>
            </li>
            <li>
                <a href="/">网站首页</a>
            </li>
        </ul>
    </div>
    <div class="fx-container">
        <div class="col-sm-10 fx-main">{{ .LayoutContent }}</div>
        <div class="col-sm-2 fx-sidebar">
            <ul class="nav bs-docs-sidenav">
                <li>
                    <a href="javascript:control_nav(0)">文章管理</a>
                    <dl class="nav-min">
                        <dd  class="menu-article-all">
                            <a href="/manager/article">所有文章</a>
                        </dd>
                        <dd class="menu-article-create">
                            <a href="/manager/article/create">写文章</a>
                        </dd>
                        <dd class="menu-article-trash">
                            <a href="/manager/article/trash"> <em class="badge">11</em>
                                回收站
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a href="javascript:control_nav(1)">分类管理</a>
                    <dl>
                        <dd class="menu-category-all">
                            <a href="/manager/category">所有分类</a>
                        </dd>
                        <dd class="menu-category-create">
                            <a href="/manager/category/create">添加分类</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a href="javascript:control_nav(2)">用户管理</a>
                    <dl>
                        <dd class="menu-user-all">
                            <a href="/manager/user">所有用户</a>
                        </dd>
                        <dd class="menu-user-create">
                            <a href="/manager/user/create">添加用户</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</body>
    {{ .Scripts }}
</html>